@model Student;

@{
  ViewData["Title"] = "Create Student Page";
  var departments = ViewBag.Departments as List<Department> ?? [];
  var student = Model;
}

<div class="">
  <h1 class="display-4">Welcome Create Student Page</h1>
  <form method="post" action="/Student/Save">
      <div class="mb-3">
      <label for="Id" class="form-label">Id</label>
      <input type="text" class="form-control"  id="Id" required name="Id" value="@student.Id">
    </div>
    <div class="mb-3">
      <label for="Code" class="form-label">Code</label>
      <input type="text" class="form-control"  id="Code" required name="Code" value="@student.Code">
    </div>
    <div class="mb-3">
      <label for="Name" class="form-label">Name</label>
      <input type="text" class="form-control"  id="Name" required name="Name" value="@student.Name">
    </div>
    <div class="mb-3">
      <label for="Birthday" class="form-label">Birthday</label>
      <input type="date" class="form-control"  id="Birthday" required name="Birthday" value="@student.Birthday.ToString("yyyy-MM-dd")">
    </div>
    <div class="mb-3">
      <label for="Address" class="form-label">Address</label>
      <input type="text" class="form-control"  id="Address" required name="Address" value="@student.Address">
    </div>
    @* <div class="mb-3">
    <select class="form-select" >
    @foreach(var className in classNames!){
    <option value="@className">@className</option>
    }
    </select>
    </div> *@
    <div  class="mb-3">
      <label for="DepartmentId" class="form-label">Department</label>
      <select class="form-select" name="DepartmentId"  id="DepartmentId">
        
        @foreach(var department in departments){
          @if(student.DepartmentId == department.Id)
          {
             <option selected value="@department.Id">@department.Name</option>
          }
          else
          
          {
               <option value="@department.Id">@department.Name</option>
          }
           
        }
       
      </select>
    </div>
    

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
